<div owd-screen="DeliveryMasterSearch">
    <div class="container-modal" ng-controller="AlertCtrl" ng-cloak>
        <div class="row" ng-show="modalAlerts.DeliveryMasterSearch">
            <div class="col-xs-12">
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="$first" type="alert.type" close="closeAlert(alert.id, $first)" class="alertblink"><span ng-bind-html="alert.msg"></span><a href="" class="alert-link" ng-click="viewAlertToggle()"><span class="badge btn-info pull-right common-margin" ng-show="alerts.length > 1">{{alerts.length}}</span></a><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="isViewAlert && !$first" type="alert.type" close="closeAlert(alert.id)" class="alert-sub"><span ng-bind-html="alert.msg"></span><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	        </div>
	    </div>
    </div>
	<form id="deliveryMasterSearchform" name="deliveryMasterSearchform" novalidate>
		<div class="container-modal">
			<accordion>
				<accordion-group is-open="isopen">
					<accordion-heading>
						{{"searchCondition"|owfMessage}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></span>
					</accordion-heading>
					<fieldset>
						<div class="row">
							<owd-select id="clientCd" ng-model="head.mclient.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主"></owd-select>
							<owd-text id="deliveryCd" ng-model="head.customerCd" label-text="納品先CD"></owd-text>
							<owd-text id="deliveryNm" ng-model="head.customerNm" label-text="納品先名称"></owd-text>
						</div>
					</fieldset>
				</accordion-group>
			</accordion>
			<div class="row">
				<div class="col-xs-12">
					<owd-button id="search" class="btn-info" ng-disabled="deliveryMasterSearchform.$invalid" ng-click="search()">検索</owd-button>
				</div>
			</div>
			<br>
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="list" owd-form-name="deliveryMasterSearchform"></div>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<owd-button id="selection" class="btn-success" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="selectClose()">選択</owd-button>
				</div>
				<div class="col-xs-6" align="right">
					<owd-button id="close" class="btn-danger" ng-click="modalClose()">閉じる</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>