<div owd-screen="LocationMasterSearch">
    <div class="container-modal" ng-controller="AlertCtrl" ng-cloak>
        <div class="row" ng-show="modalAlerts.LocationMasterSearch">
            <div class="col-xs-12">
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="$first" type="alert.type" close="closeAlert(alert.id, $first)" class="alertblink"><span ng-bind-html="alert.msg"></span><a href="" class="alert-link" ng-click="viewAlertToggle()"><span class="badge btn-info pull-right common-margin" ng-show="alerts.length > 1">{{alerts.length}}</span></a><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="isViewAlert && !$first" type="alert.type" close="closeAlert(alert.id)" class="alert-sub"><span ng-bind-html="alert.msg"></span><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	        </div>
	    </div>
    </div>
    <!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys Start -->
	<form id="locationMasterSearchform" name="locationMasterSearchform" novalidate>
	<!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys End -->
		<div class="container-modal">
			<accordion>
				<accordion-group is-open="isopen">
					<accordion-heading>
						{{"searchCondition" | owfMessage}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></span>
					</accordion-heading>
					<fieldset>
						<div class="row">
							<!-- [C-CWMS-0028] 検索条件に倉庫、ゾーンを追加 2015.06.05 kawana Start -->
							<owd-select id="centerCd" ng-model="head.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ" ng-change="centerChange()"></owd-select>
							<owd-select id="warehouse" ng-model="head.mzone.mwarehouse.warehouseCd" owd-models="warehouseList" owd-repeat-key="warehouseCd" owd-repeat-value="warehouseNm" label-text="倉庫" ng-change="warehouseChange()" ></owd-select>
							<owd-select id="zone" ng-model="head.mzone.zoneCd" owd-models="zoneList" owd-repeat-key="zoneCd" owd-repeat-value="zoneNm" label-text="ゾーン"></owd-select>
							<!-- [C-CWMS-0028] 検索条件に倉庫、ゾーンを追加 2015.06.05 kawana End -->
							<owd-text id="locationCd" ng-model="head.locationCd" label-text="ロケーションCD"></owd-text>
							<owd-select id="locationType" ng-model="head.locationType" owd-models="locationTypeList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="ロケーション種別"></owd-select>
							<!-- [1.1.4-CT-060] 検索条件、結果にピックロケフラグを追加 2016.05.25 kawana Start -->
							<owd-select id="pickingLocationFlg" ng-model="head.pickingLocationFlg" owd-models="pickingLocationFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="ピックロケフラグ"></owd-select>
							<!-- [1.1.4-CT-060] 検索条件、結果にピックロケフラグを追加 2016.05.25 kawana End -->

						</div>
					</fieldset>
				</accordion-group>
			</accordion>
			<div class="row">
				<div class="col-xs-12">
					<!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys Start -->
					<owd-button id="search" class="btn-info" ng-disabled="locationMasterSearchform.$invalid" ng-click="search()">検索</owd-button>
					<!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys End -->
				</div>
			</div>
			<br>
			<!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys Start -->
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="locationList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-form-name="locationMasterSearchform" ></div>
			<!-- [横並-094] フォーカスがセットを変更 2014.11.21 taoys End -->
			<br>
			<div class="row">
	            <div class="col-xs-6">
	                <owd-button id="selection" class="btn-success" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="selectClose()">選択</owd-button>
	            </div>
	            <div class="col-xs-6" align="right">
	                <owd-button id="close" class="btn-danger" ng-click="modalClose()">閉じる</owd-button>
	            </div>
	        </div>
		</div>
	</form>
</div>