<div ng-controller="ShippingStatusProgress"
	owd-screen="ShippingStatusProgress">
	<form id="searchform" name="searchform" novalidate>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
		<owd-accordion>
		<owd-accordion-group is-open="isopen">
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
		<fieldset>
			<div class="row">
				<owd-select id="centerCd" ng-model="searchCondition.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
				<owd-select id="clientCd" ng-model="searchCondition.mclient.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主"></owd-select>
				<owd-date id="workDt" ng-model="searchCondition.workDt" label-text="作業日" owd-validate="dtNullCheck()" owd-validate-watch="['searchCondition.workDt','searchCondition.shippingDt']" owd-validate-message="requiredError"></owd-date>
				<owd-date id="shippingDt" ng-model="searchCondition.shippingDt" label-text="出荷日" owd-validate="dtNullCheck()" owd-validate-watch="['searchCondition.workDt','searchCondition.shippingDt']" owd-validate-message="requiredError"></owd-date>
				<owd-text id="deliveryCourseCd" ng-model="searchCondition.deliveryCourseCd" label-text="配送コースCD" owd-add-button="deliveryCourse()"  ng-blur="deliveryCourseCdBlur()">
					<owd-info ng-model="searchCondition.mdeliveryCourse.deliveryCourseNm"></owd-info>
				</owd-text>
			</div>
		</fieldset>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
		</owd-accordion-group> </owd-accordion>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<button id="search" class="btn btn-default" ng-disabled="searchform.$invalid" ng-click="search()" aria-label="Left Align">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			</button>
			<owd-label id="updateTime" label-text="更新日時" ></owd-label>:<span ng-bind-html="searchTime"></span>
 		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="text-center">
				<owd-label id="shippingStatusCountTitle" label-text="出荷ステータス別伝票数 進捗"></owd-label>
			</div>
			<!-- [SLSA] angular-chart.js Version 1.0.0: legendはChart.jsのオプションになったのでchart-legendは削除。chart-coloursをchart-colorsに変更。 2016.10.17  Dario update -->
			<canvas id="shippingStatusCountChart" class="chart chart-pie" chart-data="dataCount" chart-labels="labelsCount" chart-colors="pieColors" chart-options="pieOptions"></canvas>
 		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="text-center">
				<owd-label id="shippingStatusNumberTitle" label-text="出荷ステータス別出荷数 進捗"></owd-label>
			</div>
			<!-- [SLSA] angular-chart.js Version 1.0.0: legendはChart.jsのオプションになったのでchart-legendは削除。chart-coloursをchart-colorsに変更。 2016.10.17  Dario update -->
			<canvas id="shippingStatusNumberChart" class="chart chart-pie" chart-data="dataNumber" chart-labels="labelsNumber" chart-colors="pieColors" chart-options="pieOptions"></canvas>
		</div>
	</form>
</div>