<div owd-screen="StockBulkMove">
	<div class="container-modal" ng-controller="AlertCtrl" ng-cloak>
		<div class="row" ng-show="modalAlerts.StockBulkMove">
			<div class="col-xs-12">
				<alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="$first" type="alert.type" close="closeAlert(alert.id, $first)" class="alertblink"><span ng-bind-html="alert.msg"></span><a href="" class="alert-link" ng-click="viewAlertToggle()"><span class="badge btn-info pull-right common-margin" ng-show="alerts.length > 1">{{alerts.length}}</span></a><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
				<alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="isViewAlert && !$first" type="alert.type" close="closeAlert(alert.id)" class="alert-sub"><span ng-bind-html="alert.msg"></span><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
			</div>
		</div>
	</div>
	<form id="inputform" name="inputform" novalidate>
		<div class="container-modal">
		<!-- [#2799][Ver3.0] unit of measure 対応 2017.12.13 ライ start -->
			<div owd-grid="gridOptions" id="stockBulkMoveList" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-multitext-options="multiTextOptions"  owd-grid-multitext-options="gridMultiTextOptions" owd-form-name="inputform"></div>
		<!-- [#2799][Ver3.0] unit of measure 対応 2017.12.13 ライ End -->
			<br>
			<div class="row">
				<div class="col-xs-6">
					<!--<owd-button id="register" class="btn-success" ng-disabled="inputform.$invalid" ng-click="register(inputform.$invalid)">登録</owd-button>-->
					<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
				</div>
				<div class="col-xs-6" align="right">
					<owd-button id="close" class="btn-danger" ng-click="modalClose()">閉じる</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>