<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-controller="ClassList" owd-screen="ClassList">
	<form id="searchinputform" name="searchinputform" novalidate>
	
			<owd-accordion>
				<owd-accordion-group is-open="isopen">
	
					<fieldset>
						<div class="row">
							<owd-text id="classCd" ng-model="head.classCd" label-text="区分値CD"></owd-text>
							<owd-text id="classComment" ng-model="head.classComment" label-text="区分値解説"></owd-text>
							<owd-select id="systemType" ng-model="head.systemType" owd-models="systemTypeList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="システム種別"></owd-select>
						</div>
					</fieldset>
	
				</owd-accordion-group>
			</owd-accordion>
	
			<div class="row">
				<div class="col-xs-12">
					
					<owd-button id="search" class="btn-info" ng-disabled="searchinputform.$invalid" ng-click="search()">検索</owd-button>
					
				</div>
			</div>
			<br>
			<div owd-grid="gridOptions" id="classList" owd-dblclick-option="gridDblClick(row)" owd-form-name="searchform" owd-backcolor-option="getClassForRow(row)" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions"></div>
			<br>
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden">
						<owd-button id="register" class="btn-info" ng-click="register()">新規</owd-button>
						<owd-button id="update" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="update()">修正</owd-button>
						<owd-button id="delete" class="btn-danger" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="deletedata()">削除</owd-button>
						<owd-button id="classGrpUpdate" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="classGrpUpdate()">修正（グループ)</owd-button>
						<owd-button id="classGrpDtlUpdate" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="classGrpDtlUpdate()">修正（グループ明細）</owd-button>
					</div>
				</div>
			</div>
	</form>
</div>