<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-controller="InfoMaster" owd-screen="InfoMaster">
	<form id="searchform" name="searchform" novalidate>
	
			<owd-accordion> <owd-accordion-group is-open="isopen">
	
			<fieldset>
				<div class="row">
					<owd-date id="infoDtFrom" ng-model="infoMasterSearch.infoDtFrom" label-text="お知らせ日From"></owd-date>
					<owd-date id="infoDtTo" ng-model="infoMasterSearch.infoDtTo" label-text="お知らせ日To" owd-validate="fromToCheck(infoMasterSearch.infoDtFrom, $value)" owd-validate-watch="'infoMasterSearch.infoDtFrom'" owd-validate-message="fromToMessage"></owd-date>
					<owd-select id="infoEnd" ng-model="infoMasterSearch.infoEnd" owd-models="infoEndList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="終了したお知らせの表示" owd-remove-blank></owd-select>
				</div>
			</fieldset>
	
			</owd-accordion-group> </owd-accordion>
	
			<div class="row">
				<div class="col-xs-12">
					<owd-button id="search" class="btn-info" ng-disabled="searchform.$invalid" ng-click="search()">検索</owd-button>
					<owd-button id="excelOutput" class="btn-info" ng-disabled="searchform.$invalid" ng-click="excelOutput()">Excel出力</owd-button>
				</div>
			</div>
	</form>
	<form id="searchinputform" name="searchinputform" novalidate>
			<br>
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="infoList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchinputform" owd-backcolor-option="getClassForRow(row)"></div>
			
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden">
						<owd-button id="addRow" class="btn-info" ng-click="addRow()">新規</owd-button>
						
						<owd-button id="modRow" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="modRow()">修正</owd-button>
						
					</div>
					<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden">
						
						<owd-button id="removeRow" class="btn-danger" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="removeRow()">削除</owd-button>
						
					</div>
				</div>
			</div>
	</form>
	<form id="inputform" name="inputform" novalidate>
			<br>
			
			<div class="well">
				<div class="row">
					<div class="col-xs-12">
				    	<owd-textarea owd-rows="5" owd-two-col id="infoNm" ng-model="edit.infoNm" label-text="お知らせ内容"></owd-textarea>
				    	<owd-date id="infoStartDt" ng-model="edit.infoStartDt" label-text="開始日付"></owd-date>
						<owd-date id="infoEndDt" ng-model="edit.infoEndDt" label-text="終了日付" owd-validate="fromToCheck(edit.infoStartDt, $value)" owd-validate-watch="'edit.infoStartDt'" owd-validate-message="fromToMessage"></owd-date>
					<div align="right">
						<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
					</div>
					</div>
				</div>
			</div>
			
			
	</form>
</div>