<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-controller="ScreenItemRoleEdit" owd-screen="ScreenItemRoleEdit">
	<form id="searchform" name="searchform" novalidate>
	
		<owd-accordion>
			<owd-accordion-group is-open="isopen">
	
				<fieldset>
					<div class="row">
						<owd-select id="roleCd" ng-model="head.roleCd" owd-models="roleCdList" owd-repeat-key="roleCd" owd-repeat-value="roleNm" label-text="権限"></owd-select>
						<owd-select id="screenCd" ng-model="head.screenCd" owd-models="screenCdList" owd-repeat-key="screenCd" owd-repeat-value="screenNm" label-text="画面"></owd-select>
					</div>
				</fieldset>
	
			</owd-accordion-group>
		</owd-accordion>
	
		<div class="row">
			<div class="col-xs-12">
				<owd-button id="search" class="btn-info" ng-disabled="searchform.$invalid" ng-click="search()">検索</owd-button>
			</div>
		</div>
	</form>
	<form id="searchinputform" name="searchinputform" novalidate>
		<br>
		<div owd-grid="gridOptions" id="screenItemRoleList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchinputform" owd-backcolor-option="getClassForRow(row)"></div>
		<br>
		
		<div id="content-footer-button" class="container">
		
			<div class="row">
				<div class="col-xs-6"></div>
				
				<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden">
				
					<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>