<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-controller="UserList" owd-screen="UserList">
	<form id="searchform" name="searchform" novalidate>
	
			<owd-accordion>
				<owd-accordion-group is-open="isopen">
	
					<fieldset>
						<div class="row">
							<owd-text id="userCd" ng-model="head.userCd" label-text="ユーザCD"></owd-text>
							<owd-text id="userNm" ng-model="head.userNm" label-text="ユーザ名"></owd-text>
							<owd-select id="cultureList" ng-model="head.bculture.cultureCd" owd-models="cultureList" owd-repeat-key="cultureCd" owd-repeat-value="cultureNm" label-text="カルチャ"></owd-select>
							<owd-select id="roleGrpList" ng-model="head.broleGrp.roleGrpCd" owd-models="roleGrpList" owd-repeat-key="roleGrpCd" owd-repeat-value="roleGrpNm" label-text="権限グループ"></owd-select>
							<owd-select id="delFlg" ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除フラグ"></owd-select>
						</div>
					</fieldset>
	
				</owd-accordion-group>
			</owd-accordion>
	
			<div class="row">
				<div class="col-xs-12">
					<owd-button id="search" class="btn-info" ng-disabled="searchform.$invalid" ng-click="search()">検索</owd-button>
					<owd-button id="excelOutput" class="btn-info" ng-disabled="searchform.$invalid" ng-click="excelOutput()">Excel出力</owd-button>
				</div>
			</div>
			<br>
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="userList" owd-form-name="searchform" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-backcolor-option="getClassForRow(row)"></div>
			<br>
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden">
						
						<owd-button id="copy" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="copy()">コピー</owd-button>
						
						<owd-button id="register" class="btn-info" ng-click="register()">新規</owd-button>

						<owd-button id="update" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="update()">修正</owd-button>
					</div>
				</div>
			</div>
	</form>
</div>