<div owd-screen="ModalError">
	<div class="container-modal" ng-controller="AlertCtrl" ng-cloak>
		<div class="row" ng-show="modalAlerts.ModalError">
            <div class="col-xs-12">
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="$first" type="alert.type" close="closeAlert(alert.id, $first)" class="alertblink"><span ng-bind-html="alert.msg"></span><a href="" class="alert-link" ng-click="viewAlertToggle()"><span class="badge btn-info pull-right common-margin" ng-show="alerts.length > 1">{{alerts.length}}</span></a><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	            <alert ng-repeat="alert in alerts | orderBy:'addDt':true" ng-show="isViewAlert && !$first" type="alert.type" close="closeAlert(alert.id)" class="alert-sub"><span ng-bind-html="alert.msg"></span><span class="pull-right common-margin" ng-bind-html="alert.addDt | date:'medium'"></span></alert>
	        </div>
	    </div>
    </div>
    <form id="searchform" name="searchform" novalidate>
        <div class="container-modal">
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        			<h1 ng-model="errorMessage">{{errorMessage}}</h1>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-4 col-md-offset-8">
		        	<owd-button id="close" class="btn-danger btn-lg btn-block" ng-click="modalClose()">閉じる</owd-button>
		        </div>
	        </div>
        </div>
    </form>
</div>