<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-init="initBody()" ng-controller="PasswordChangeCtrl" owd-screen="PasswordChange">
	<ion--modal-view>
		<ion-header-bar class="bar bar-header bar-positive">
        	<h1 class="title" ng-bind-html="displayStructure.title"></h1>
			
        	<button class="button button-clear button-primary" ng-click="closeModal()">{{"cancel" | owfMessage}}</button>
			
        </ion-header-bar>
		<ion-content class="has-header">

			<div class="alert alert-danger text-center" role="alert" ng-show="displayStructure.hasError">
				
				<span class="ionicons ion-alert-circled left"></span>
				
				<span ng-repeat="line in displayStructure.errorMessages track by $index">
					{{line}}<br>
				</span>
			</div>

			<ion-list-header ng-show="displayStructure.isShowContainer()" ng-init="displayStructure.initContainer()">
				<form role="form">
					<ion-list>
						
						<ng-form name="oldPasswordform" novalidate ng-show="displayStructure.showOldPassword">
							<label id="oldPasswordlabel" for="oldPassword" class="control-label item owd-itemdisable item-input item-stacked-label owd-stacked-label item-text-wrap" ng-class="{necessaryColor: item[screenCd]['oldPassword'].necessary}">
									<span class="input-label">{{item[screenCd]['oldPassword'].itemNm}}</span>
									<input type="password" id="oldPassword" name="oldPassword" placeholder="{{item[screenCd]['oldPassword'].itemNm}}" ng-model="$parent.oldPassword" ng-class="item[screenCd]['oldPassword'].textAlign" ng-readonly="displayStructure.loading" ng-focus="inputValueAllSelectOnFocus($event)" required>
							</label>
						</ng-form>
						

						<ng-form name="newPasswordform" novalidate>
							<label id="newPasswordlabel" for="newPassword" class="control-label item owd-itemdisable item-input item-stacked-label owd-stacked-label item-text-wrap" ng-class="{necessaryColor: item[screenCd]['newPassword'].necessary}">
									<span class="input-label">{{item[screenCd]['newPassword'].itemNm}}</span>
									<input type="password" id="newPassword" name="newPassword" placeholder="{{item[screenCd]['newPassword'].itemNm}}" ng-model="$parent.newPassword" ng-class="item[screenCd]['newPassword'].textAlign" ng-readonly="displayStructure.loading" ng-focus="inputValueAllSelectOnFocus($event)" required>
							</label>
						</ng-form>
						

						<ng-form name="newPasswordReEnterform" novalidate>
							<label id="newPasswordReEnterlabel" for="newPasswordReEnter" class="control-label item owd-itemdisable item-input item-stacked-label owd-stacked-label item-text-wrap" ng-class="{necessaryColor: item[screenCd]['newPasswordReEnter'].necessary}">
									<span class="input-label">{{item[screenCd]['newPasswordReEnter'].itemNm}}</span>
									<input type="password" id="newPasswordReEnter" name="newPasswordReEnter" placeholder="{{item[screenCd]['newPasswordReEnter'].itemNm}}" ng-model="$parent.newPasswordReEnter" ng-class="item[screenCd]['newPasswordReEnter'].textAlign" ng-readonly="displayStructure.loading" ng-focus="inputValueAllSelectOnFocus($event)" required>
							</label>
						</ng-form>
						
						

						<div class="checkbox" style="margin-top:-10px" ng-show="displayStructure.showPasswordResetCheck">
							<label>
								<input type="checkbox" id="passwordReset" ng-model="$parent.passwordReset" ng-disabled="displayStructure.passwordRestChangeable" ng-true-value="1" ng-false-value="0"> {{displayStructure.passwordReset}}
							</label>
						</div>
						<div class="padding-horizontal">
							<ion-item type="button" class="button button-block button-positive" id="passwordChange" ng-click="clickPasswordChange()" ng-disabled="displayStructure.loading">{{displayStructure.passwordChange}}</ion-item>
							<ion-item type="button" class="button button-block button-assertive" id="cancel" ng-click="clickCancel()" ng-disabled="displayStructure.loading">{{displayStructure.cancel}}</ion-item>
						</div>
					</ion-list>
				</form>
			</ion-list-header>

			<div ng-show="displayStructure.isShowSuccessMsgDialog()" ng-init="displayStructure.initSuccessMsgDialog()">
				<div class="alert alert-success text-center" role="alert">
				
					<span class="ionicons ion-checkmark left"></span>
				
					<span ng-repeat="line in displayStructure.successDialogMessages track by $index">
						{{line}}<br>
					</span>
				</div>
				<div style="padding: 0px 20px">
					<ion-item type="button" class="button button-block button-positive padding-horizontal" id="closeSuccessMsgDialog" ng-click="clickCloseSuccessMsgDialog()">{{displayStructure.closeSuccessMsgDialog}}</ion-item>
				</div>
			</div>

			<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowWarningMsgDialog()" ng-init="displayStructure.initWarningMsgDialog()">
				<div class="alert alert-warning text-center" role="alert">
					
					<span class="ionicons ion-checkmark left"></span>
					
					<span ng-repeat="line in displayStructure.warningDialogMessages track by $index">
						{{line}}<br>
					</span>
				</div>
				<div style="padding: 0px 20px">
					<ion-item type="button" class="button button-block button-positive" id="closeWarningMsgDialog" ng-click="clickCloseWarningMsgDialog()">{{displayStructure.closeWarningMsgDialog}}</ion-item>
				</div>
			</div>

			<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowDangerMsgDialog()" ng-init="displayStructure.initDangerMsgDialog()">
				<div class="alert alert-danger text-center" role="alert">
					
					<span class="ionicons ion-checkmark left"></span>
					
					<span ng-repeat="line in displayStructure.dangerDialogMessages track by $index">
						{{line}}<br>
					</span>
				</div>
				<div style="padding: 0px 20px">
					<ion-item type="button" class="button button-block button-positive" id="closeDangerMsgDialog" ng-click="clickCloseDangerMsgDialog()">{{displayStructure.closeDangerMsgDialog}}</ion-item>
				</div>
			</div>

		</ion-content>

		
			
			<div ng-repeat="line in displayStructure.errorMessages" ng-show="displayStructure.hasError">
				
				<div class="bar bar-footer bar-danger" ng-click="nextAlert()">
				
					<div class="title">
						<h2 class="title" close="closeAlert(alert.id)" class="alertblink">
							<span style="width: 300px; text-overflow: ellipsis; overflow-x: scroll; -webkit-overflow-scrolling: touch; margin: 0px 20px 0px 20px" ng-bind-html="line"></span></h2>
					</div>

				</div>
			</div>

	
</ion--modal-view></div>