<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->
<!-- このソースは基盤ソースです。変更は行わないで下さい。 -->
<!-- ※※※※※※※※※※※※※※※※※※※※※※※※※※ -->


<div ng-init="initBody()" class="ng-cloak">

	<div class="alert alert-danger text-center" role="alert" ng-show="displayStructure.hasError">
		<span class="glyphicon glyphicon-warning-sign left"></span>
		<span ng-repeat="line in displayStructure.errorMessages track by $index">
			{{line}}<br>
		</span>
	</div>

	<div class="container" style="margin-top:30px">
		<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowContainer()" ng-init="displayStructure.initContainer()">
			<div class="panel panel-default panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>{{displayStructure.title}} </strong></h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group" ng-show="displayStructure.showOldPassword">
							<label for="oldPassword">{{displayStructure.oldPassword}}</label>
							
							<input type="password" class="form-control" style="border-radius:0px" id="oldPassword" placeholder="{{displayStructure.oldPassword}}" ng-model="input.oldPassword" ng-readonly="displayStructure.loading" required>
							
						</div>

						<div class="form-group">
							<label for="newPassword">{{displayStructure.newPassword}}</label>
							
							<input type="password" class="form-control" style="border-radius:0px" id="newPassword" placeholder="{{displayStructure.newPassword}}" ng-model="input.newPassword" ng-readonly="displayStructure.loading" required>
							
						</div>

						<div class="form-group">
							<label for="newPasswordReEnter">{{displayStructure.newPasswordReEnter}}</label>
							
							<input type="password" class="form-control" style="border-radius:0px" id="newPasswordReEnter" placeholder="{{displayStructure.newPasswordReEnter}}" ng-model="input.newPasswordReEnter" ng-readonly="displayStructure.loading" required>
							
						</div>

 						<div class="checkbox" style="margin-top:-10px" ng-show="displayStructure.showPasswordResetCheck">
							<label>
								
								<input type="checkbox" id="passwordReset" ng-model="input.passwordReset" ng-disabled="displayStructure.passwordRestChangeable" ng-true-value="1" ng-false-value="0"> {{displayStructure.passwordReset}}
								
							</label>
						</div>

						<button type="button" class="btn btn-sm btn-info" id="passwordChange" ng-click="clickPasswordChange()" ng-disabled="displayStructure.loading">{{displayStructure.passwordChange}}</button>
						<button type="button" class="btn btn-sm btn-danger" id="cancel" ng-click="clickCancel()" ng-disabled="displayStructure.loading">{{displayStructure.cancel}}</button>
					</form>
				</div>
			</div>
		</div>

		<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowSuccessMsgDialog()" ng-init="displayStructure.initSuccessMsgDialog()">
			<div class="panel panel-default panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>{{displayStructure.title}}</strong></h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-success text-center" role="alert">
						<span class="glyphicon glyphicon-ok left"></span>
						<span ng-repeat="line in displayStructure.successDialogMessages track by $index">
							{{line}}<br>
						</span>
					</div>
					<br>
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-info" id="closeSuccessMsgDialog" ng-click="clickCloseSuccessMsgDialog()">{{displayStructure.closeSuccessMsgDialog}}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowWarningMsgDialog()" ng-init="displayStructure.initWarningMsgDialog()">
			<div class="panel panel-default panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>{{displayStructure.title}}</strong></h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-warning text-center" role="alert">
						<span class="glyphicon glyphicon-ok left"></span>
						<span ng-repeat="line in displayStructure.warningDialogMessages track by $index">
							{{line}}<br>
						</span>
					</div>
					<br>
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-info" id="closeWarningMsgDialog" ng-click="clickCloseWarningMsgDialog()">{{displayStructure.closeWarningMsgDialog}}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="xcol-md-4 xcol-md-offset-4" ng-show="displayStructure.isShowDangerMsgDialog()" ng-init="displayStructure.initDangerMsgDialog()">
			<div class="panel panel-default panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>{{displayStructure.title}}</strong></h3>
				</div>
				<div class="panel-body">
					<div class="alert alert-danger text-center" role="alert">
						<span class="glyphicon glyphicon-ok left"></span>
						<span ng-repeat="line in displayStructure.dangerDialogMessages track by $index">
							{{line}}<br>
						</span>
					</div>
					<br>
					<div class="text-center">
						<button type="button" class="btn btn-sm btn-info" id="closeDangerMsgDialog" ng-click="clickCloseDangerMsgDialog()">{{displayStructure.closeDangerMsgDialog}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
