<div ng-controller="CenterClassGrpEdit" owd-screen="CenterClassGrpEdit">
	<form id="searchform" name="searchform" novalidate>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.25 fujiwara Start  -->
		<owd-accordion>
			<owd-accordion-group is-open="isopen">
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.25 fujiwara End  -->
				<fieldset>
				<div class="row">
				    <owd-select id="centerCd" ng-model="centerClassGrpEditSearch.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
					<owd-text id="classCd" ng-model="centerClassGrpEditSearch.classCd" label-text="区分値CD"></owd-text>
					<owd-text id="classComment" ng-model="centerClassGrpEditSearch.classComment" label-text="区分値解説"></owd-text>
					<owd-select id="systemType" ng-model="centerClassGrpEditSearch.systemType" owd-models="systemTypeList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="システム種別"></owd-select>
				</div>
				</fieldset>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.25 fujiwara Start  -->
			</owd-accordion-group>
		</owd-accordion>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.25 fujiwara End  -->
	</form>
	<form id="searchinputform" name="searchinputform" novalidate>
	<!-- [#7234]brタグを削除 2020.03.12 ono del  -->
		<div owd-grid="gridOptions" id="centerClassGrpMasterEdit" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchinputform" owd-backcolor-option="getClassForRow(row)"></div>
		<br>
		<div id="content-footer"></div>
		<div id="content-footer-button" class="container">
			<div class="row">
				<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden;">
					<owd-button id="addRow" class="btn-info" ng-click="addRow()">行追加</owd-button>
					<owd-button id="removeRow" class="btn-danger" ng-click="removeRow()">行削除</owd-button>
				</div>
				<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden;">
					<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>