<div ng-controller="CenterMasterEdit" owd-screen="CenterMasterEdit">
	<form id="inputform" name="inputform" novalidate>
		<div class="well">
		<fieldset>
			<div class="row">
					<owd-text id="centerCd" ng-model="head.centerCd" label-text="センタCD"></owd-text>
					<owd-text id="centerNm" ng-model="head.centerNm" label-text="センタ名称" ng-blur="centerNmBlur()"></owd-text>
					<owd-text id="centerAbbr" ng-model="head.centerAbbr" label-text="センタ略称"></owd-text>
					<!-- [Ver3.0][#3267] カルチャ、タイムゾーンのドロップダウン追加 2018.01.04 shimizu Start -->
					<owd-select id="cultureList" ng-model="head.cultureCd" owd-models="cultureList" owd-repeat-key="cultureCd" owd-repeat-value="cultureNm" label-text="カルチャ"></owd-select>
					<owd-select id="timeZoneList" ng-model="head.timeZoneCd" owd-models="timeZoneList" owd-repeat-key="timeZoneCd" owd-repeat-value="timeZoneNm" label-text="タイムゾーン"></owd-select>
					<!-- [Ver3.0][#3267] カルチャ、タイムゾーンのドロップダウン追加 2018.01.04 shimizu End -->
					<!-- [新WMS-110-004] 削除フラグの空の選択肢を削除 2015.07.14 kawana Start -->
					<owd-select id="delFlg" ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除" owd-remove-blank></owd-select>
					<!-- [新WMS-110-004] 削除フラグの空の選択肢を削除 2015.07.14 kawana End -->
			</div>
			</fieldset>
		</div>
		<div owd-grid="gridOptions" id="centerMasterEdit" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="inputform" owd-backcolor-option="getClassForRow(row)" owd-dblclick-option="gridDblClick(row)"></div>
		<br>
		<div id="content-footer"></div>
		<div id="content-footer-button" class="container">
			<div class="row">
				<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden;">
<!-- 					<owd-button id="addRow" class="btn-info" ng-click="addRow()">行追加</owd-button> -->
<!-- 					<owd-button id="removeRow" class="btn-danger" ng-click="removeRow()">行削除</owd-button> -->
				</div>
				<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden;">
					<owd-button id="new" class="btn-info"  ng-click="initNew()">新規</owd-button>
					<owd-button id="update" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="update()">修正</owd-button>
					<owd-button id="register" class="btn-success" ng-disabled="inputform.$invalid" ng-click="register()">登録</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>