<div ng-controller="CenterClientScreenMaster" owd-screen="CenterClientScreenMaster">
	<form id="searchform" name="searchform" novalidate>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
			<owd-accordion>
				<owd-accordion-group is-open="isopen">
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
					<fieldset>
					<div class="row">
						<owd-select id="centerClientCls" ng-model="centerClientScreenMasterSearch.centerClientCls" owd-models="centerClientClsList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="センタ・荷主区分" ng-focus="centerClientClsFocus()" ng-change="centerClientClsChange()"></owd-select>
						<owd-select id="centerOrClient" ng-model="centerClientScreenMasterSearch.centerOrClientCd" owd-models="centerOrClientList" owd-repeat-key="centerOrClientCd" owd-repeat-value="centerOrClientNm" label-text="センタ・荷主"></owd-select>
					</div>
					</fieldset>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
				</owd-accordion-group>
			</owd-accordion>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
			<div class="row">
				<div class="col-xs-12">
					<owd-button id="search" class="btn-info" ng-disabled="searchform.$invalid" ng-click="search()">検索</owd-button>
				</div>
			</div>
	</form>
	<form id="searchinputform" name="searchinputform" novalidate>
			<br>
			<div owd-grid="gridOptions" id="centerClientScreenList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchinputform" owd-backcolor-option="getClassForRow(row)"></div>
			<br>
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden;">
						<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
					</div>
				</div>
		</div>
	</form>
</div>