<div ng-controller="CenterClassEdit" owd-screen="CenterClassEdit">

    <form id="inputform" name="inputform" novalidate>
		<div class="well">
		<fieldset>
			<div class="row">
			    <owd-select id="centerCd" ng-model="head.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
				<owd-text id="classCd" ng-model="head.classCd" label-text="区分値CD"></owd-text>
				<owd-text id="classComment" ng-model="head.classComment" label-text="区分値解説"></owd-text>
				<owd-select id="systemType" ng-model="head.systemType" owd-models="systemTypeList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="システム種別"></owd-select>
			</div>
		</fieldset>
		</div>
		<div owd-grid="gridOptions" id="centerClassEdit" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="inputform" owd-backcolor-option="getClassForRow(row)"></div>
			<br>

			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
	        	<div class="row">
	            	<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden;">
	                	<owd-button id="addRow" class="btn-info" ng-click="addRow()">行追加</owd-button>
						<owd-button id="removeRow" class="btn-danger" ng-click="removeRow()">行削除</owd-button>
	            	</div>
	            	<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden;">
	                	<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
	            	</div>
	        	</div>
	         </div>
	</form>
</div>