<div ng-controller="CustomerMasterEdit" owd-screen="CustomerMasterEdit">
	<form id="searchinputform" name="searchinputform" novalidate>
		<div  class="well">
			<div class="row">
				<owd-select id="clientCd" ng-model="head.mclient.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主"></owd-select>
							<owd-text id="customerCd" ng-model="head.customerCd" label-text="特約店CD1"></owd-text>
				<owd-text id="specialAgentsCd2" ng-model="head.mcustomerSubAsOne.specialAgentsCd2" label-text="特約店CD2"></owd-text>
				<owd-select id="delFlg" ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除" owd-remove-blank></owd-select>
			</div>
		</div>
		<div class="well">
			<div class = "row">
				<owd-text id="customerNm" ng-model="head.customerNm" label-text="特約店名称" ng-blur="customerNmBlur()">
					<!-- <owd-info ng-model="head.customerAbbr"></owd-info> -->
				</owd-text>
				<owd-text id="name" ng-model="head.mcustomerSubAsOne.name" label-text="正式名称" ng-blur="nameBlur()"></owd-text>
				<owd-text id="customerAbbr" ng-model="head.customerAbbr" label-text="略式名称"></owd-text>
				<owd-text id="aName" ng-model="head.mcustomerSubAsOne.aname" label-text="検索名称"></owd-text>
				<owd-text id="ssName" ng-model="head.mcustomerSubAsOne.ssName" label-text="短縮名称"></owd-text>
				<owd-text id="showPriority" ng-model="head.mcustomerSubAsOne.showPriority" label-text="表示順"></owd-text>
				<owd-select id="marketType" ng-model="head.mcustomerSubAsOne.marketType" owd-models="marketTypeList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="市場区分"></owd-select>
				<owd-select id="logisticsCd" ng-model="head.mcustomerSubAsOne.logisticsCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="倉庫(発地倉庫)"></owd-select>
				<owd-text id="zipCd" ng-model="head.zipCd" label-text="郵便番号"></owd-text>
				<owd-text id="address1" ng-model="head.address1" label-text="納品先住所"></owd-text>
				<owd-text id="telNo" ng-model="head.telNo" label-text="電話番号"></owd-text>
				<owd-text id="faxNo" ng-model="head.mcustomerSubAsOne.faxNo" label-text="FAX番号"></owd-text>
				<owd-text id="deliveryTime" ng-model="head.mcustomerSubAsOne.deliveryTime" label-text="納品時間"></owd-text>
				<owd-text id="comments" ng-model="head.mcustomerSubAsOne.comments" label-text="特記事項"></owd-text>
				<owd-select id="deliveryFlg" ng-model="head.deliveryFlg" label-text="納品先フラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="deliveryFlgList"></owd-select>
				<owd-select id="vendorFlg" ng-model="head.vendorFlg" label-text="仕入先フラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="vendorFlgList"></owd-select>
				<owd-select id="onetimeFlg" ng-model="head.onetimeFlg" label-text="ワンタイムフラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="onetimeFlgList"></owd-select>
				<owd-select id="depositFlg" ng-model="head.depositFlg" label-text="預託先フラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="depositFlgList"></owd-select>
				<owd-text id="centerCd" ng-model="head.centerCd" label-text="社内入庫センタ"></owd-text>
				<owd-number id="allocOrder" ng-model="head.allocOrder" label-text="引当順序"></owd-number>
				<owd-select id="shippingStopFlg" ng-model="head.shippingStopFlg" label-text="出荷停止フラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="shippingStopFlgList"></owd-select>
				<owd-select id="limitDtReverseFlg" ng-model="head.limitDtReverseFlg" label-text="期限日逆転防止フラグ" owd-repeat-key="classCd" owd-repeat-value="classNm" owd-models="limitDtReverseFlgList"></owd-select>
				<owd-text id="address3" ng-model="head.address3" label-text="住所3"></owd-text>
				<owd-text id="center" ng-model="head.center" label-text="センタ"></owd-text>
				<owd-text id="deliveryCourseCd" ng-model="head.deliveryCourseCd" label-text="配送コースCD"></owd-text>
				<owd-text id="deliveryOrder" ng-model="head.deliveryOrder" label-text="配送順"></owd-text>
				<owd-text id="deliveryReadTime" ng-model="head.deliveryReadTime" label-text="配送リードタイム"></owd-text>
			</div>
		</div>

            	<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden;">
                	<owd-button id="register" class="btn-success" ng-click="register()" ng-disabled="searchinputform.$invalid">登録</owd-button>
            	</div>
        	</div>
         </div>
    </form>
</div>
