<div ng-controller="DeliveryCourseMasterList" owd-screen="DeliveryCourseMasterList">
	<form id="searchinputform" name="searchinputform" novalidate>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
			<owd-accordion>
				<owd-accordion-group is-open="isopen">
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
			<fieldset>
				<div class="row">
				<!-- 荷主センタ変更対応 2017.02.07 sja Start -->
				<!--
					<owd-select id="centerCd" ng-model="head.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
				 -->
				 	<owd-select id="centerCd" ng-model="head.mcenter.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ" ng-focus="centerFocus()" ng-change="centerChange()" ng-blur="centerBlur()"></owd-select>
				<!-- 荷主センタ変更対応 2017.02.07 sja Start -->
					<owd-text id="deliveryCourseCd" ng-model="head.deliveryCourseCd" label-text="配送コースCD"></owd-text>
					<owd-text id="deliveryCourseNm" ng-model="head.deliveryCourseNm" label-text="配送コース名称"></owd-text>
					<owd-select id="carrierCd" ng-model="head.mcarrier.carrierCd" owd-models="carrierList" owd-repeat-key="carrierCd" owd-repeat-value="carrierNm" label-text="運送業者"></owd-select>
					<owd-select id="delFlg" ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除"></owd-select>
				</div>
			</fieldset>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
			</owd-accordion-group>
				</owd-accordion>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
			<div class="row">
				<div class="col-xs-12">
					<owd-button id="search" class="btn-info" ng-disabled="searchinputform.$invalid" ng-click="search()">検索</owd-button>
					<owd-button id="excelOutput" class="btn-info" ng-disabled="searchinputform.$invalid" ng-click="excelOutput()">Excel出力</owd-button>
				</div>
			</div>
			<br>
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="deliveryCourseList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchinputform" owd-backcolor-option="getClassForRow(row)"></div>
			<br>
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden;">
						<!-- コピー機能追加 配送コースマスタ画面修正 2016.06.22 Lin Zar Ni Myint Add Start -->
						<owd-button id="copy" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="copy()">コピー</owd-button>
						<!-- コピー機能追加 配送コースマスタ画面修正 2016.06.22 Lin Zar Ni Myint Add End -->
						<owd-button id="new" class="btn-info" ng-click="initnew()">新規</owd-button>
						<owd-button id="update" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="update()">修正</owd-button>
					</div>
				</div>
			</div>
	</form>
</div>