<div ng-controller="EdiEdit" owd-screen="EdiEdit">

	<form id="inputform" name="inputform" novalidate>
		<div class="well">
			<fieldset>
				<div class="row">
					<owd-text id="ediNm" ng-model="head.ediNm" label-text="EDI名称"></owd-text>
				</div>
			</fieldset>
		</div>
		<div owd-grid="gridOptions" id="ediEdit"
			owd-select-options="gridSelectOptions"
			owd-button-options="gridButtonOptions"
			owd-event-options="gridEventOptions" owd-form-name="inputform"
			owd-backcolor-option="getClassForRow(row)"></div>
		<br>

		<div id="content-footer"></div>
		<div id="content-footer-button" class="container">
			<div class="row">
				<div class="col-xs-6" style="overflow-x: auto; overflow-y: hidden;">
					<owd-button id="addRow" class="btn-info" ng-click="addRow()">行追加</owd-button>
					<owd-button id="removeRow" class="btn-danger"
						ng-click="removeRow()">行削除</owd-button>
				</div>
				<div class="col-xs-6" align="right"
					style="overflow-x: auto; overflow-y: hidden;">
					<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>