<div ng-controller="InventoryDateMasterList" owd-screen="InventoryDateMasterList">
	<form id="searchConditionForm" name="searchConditionForm" novalidate>
		<owd-accordion>
			<owd-accordion-group is-open="isopen">
				<fieldset>
					<div class="row">
						<owd-select id="centerCd" ng-model="cond.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ" ng-change="centerChange()"></owd-select>
						<owd-select id="clientCd" ng-model="cond.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主" ng-change="clientChange()"></owd-select>
						<owd-text id="targetDate" ng-model="cond.targetDate" label-text="対象年"></owd-text>
						<owd-select id="sundayFlg" ng-model="cond.sundayFlg" owd-models="sundayFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="日曜フラグ"></owd-select>

					</div>
				</fieldset>
			</owd-accordion-group>
		</owd-accordion>
		<div class="row">
			<div class="col-xs-12">
				<owd-button	id="search"	class="btn-info"	ng-click="searchClick()"	ng-disabled="searchConditionForm.$invalid" >検索</owd-button>
				<owd-button	id="excelOutput"	class="btn-info"	ng-click="excelOutputClick()"	ng-disabled="searchConditionForm.$invalid">Excel出力</owd-button>
			</div>
		</div>
	</form>
	<br>
	<form id="searchResultListForm" name="searchResultListForm" novalidate>
			<div owd-grid="gridOptions" id="bodyList" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchResultListForm" owd-backcolor-option="getClassForRow(row)" owd-dblclick-option="gridDblClick(row)"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden;">
					</div>
					<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden;">
						<owd-button id="register"	class="btn-info"	ng-click="updateClick()"	ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length">修正</owd-button>
					</div>
				</div>
			</div>
	</form>
</div>