<div ng-controller="SetStructureEdit" owd-screen="SetStructureEdit">
	<form id="inputform" name="inputform" novalidate>
		<div class="well">
			<div class="row">
				<owd-select id="clientCd" owd-remove-blank ng-model="head.mproduct.mclient.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主" ng-focus="clientFocus()" ng-change="clientChange()" ng-blur="clientBlur()"></owd-select>
				<owd-text id="productCd" ng-model="head.mproduct.productCd" label-text="親商品CD" owd-add-button="showProducthead()" ng-blur="productCdBlurhead()">
				 <owd-info ng-model="head.mproduct.productNm"></owd-info>
				</owd-text>
				<owd-select id="delFlg" owd-remove-blank ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除" ></owd-select>
			</div>
		</div>
		<div owd-grid="gridOptions" id="list" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="inputform" owd-backcolor-option="getClassForRow(row)"></div>
		<br>
		<div id="content-footer"></div>
		<div id="content-footer-button" class="container">
			<div class="row">
				<div class="col-xs-6" style="overflow-x:auto;overflow-y:hidden;">
					<owd-button id="addRow" class="btn-info" ng-click="addRow()">行追加</owd-button>
					<owd-button id="removeRow" class="btn-danger" ng-click="removeRow()">行削除</owd-button>
				</div>
				<div class="col-xs-6" align="right" style="overflow-x:auto;overflow-y:hidden;">
					<owd-button id="register" class="btn-success" ng-click="register()">登録</owd-button>
				</div>
			</div>
		</div>
	</form>
</div>