
*.bak
*.old

*b_col_ext_base.tsv

/bin
/dbflute_dfclient_*/log

/dbflute_dfclient_*/output/doc/history-dfclient.html
/dbflute_dfclient_*/output/doc/schema-dfclient.html
/dbflute_dfclient_*/schema/project-history-dfclient.diffmap
/dbflute_dfclient_*/schema/project-schema-dfclient.xml
/dbflute_dfclient_*/schema/lreverse-schema-dfclient.xml

/dbflute_dfclient_*/playsql/data/*/*xls/backup
/dbflute_dfclient_*/playsql/data/*/*xls/cyclic-data-*.xls

/dbflute_dfclient_*/playsql/data/*/*xls/xls-data-result.dfmark
/dbflute_dfclient_*/playsql/data/*/*xls/reverse-data-result.dfmark
/dbflute_dfclient_*/playsql/data/*/tsv/*/tsv-data-result.dfmark

/database/DataManageTool/db/*.db3-journal
/*.jar
/*.log

/dbflute_dfclient_mysql/mysqldumptool/linux/*
!/dbflute_dfclient_mysql/mysqldumptool/linux/mysqldump*.env
!/dbflute_dfclient_mysql/mysqldumptool/linux/mysqldump*.dat
!/dbflute_dfclient_mysql/mysqldumptool/linux/mysqldump*.ign
!/dbflute_dfclient_mysql/mysqldumptool/linux/mysqldump*.sh
!/dbflute_dfclient_mysql/mysqldumptool/linux/readme.txt

/dbflute_dfclient_mysql/mysqldumptool/windows/*
!/dbflute_dfclient_mysql/mysqldumptool/windows/mysqldump*.env
!/dbflute_dfclient_mysql/mysqldumptool/windows/mysqldump*.dat
!/dbflute_dfclient_mysql/mysqldumptool/windows/mysqldump*.ign
!/dbflute_dfclient_mysql/mysqldumptool/windows/mysqldump*.bat
!/dbflute_dfclient_mysql/mysqldumptool/windows/readme.txt

