<div ng-controller="ReceiveHistory" owd-screen="ReceiveHistory">
	<form id="searchform" name="searchform" novalidate>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
		<owd-accordion>
			<owd-accordion-group is-open="isopen">
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
				<fieldset>
					<div class="row">

						<!-- 荷主センタ変更対応 2017.02.15 sja Start -->
						<!--
						<owd-select id="centerCd" ng-model="headH.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
						<owd-select id="clientCd" ng-model="headH.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主"></owd-select>
						-->
						<owd-select id="centerCd" ng-model="headH.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ" ng-change="centerChange()"></owd-select>
						<owd-select id="clientCd" ng-model="headH.clientCd" owd-models="clientList" owd-repeat-key="clientCd" owd-repeat-value="clientNm" label-text="荷主" ng-change="clientChange()"></owd-select>

						<!-- 荷主センタ変更対応 2017.02.15 sja End -->

						<owd-select id="processTypeCd" ng-model="headH.mprocessType.processTypeCd" owd-models="processTypeList" owd-repeat-key="processTypeCd" owd-repeat-value="processTypeNm" label-text="処理区分"></owd-select>
						<owd-text id="clientReceiveNo" ng-model="headH.clientReceiveNo" label-text="顧客入荷指示No."></owd-text>
						<owd-text id="receiveSlipNo" ng-model="headH.receiveSlipNo" label-text="WMS入荷伝票No."></owd-text>
						<owd-text id="supplierCd" ng-model="headH.supplierCd" label-text="仕入先CD" owd-add-button="showCustomer()" ng-blur="customerCdBlur()">
							<owd-info ng-model="headH.supplierNm"></owd-info>
						</owd-text>
						<owd-select id="depositCd" ng-model="headH.depositCd" owd-models="depositList" owd-repeat-key="mCustomer.customerCd" owd-repeat-value="mCustomer.customerNm" label-text="預託"></owd-select>
						<owd-date id="storeDtFrom" ng-model="headB.storeDtFrom" label-text="入庫日(From)"></owd-date>
						<owd-date id="storeDtTo" ng-model="headB.storeDtTo" label-text="入庫日(To)" owd-validate="fromToDtCheck(headB.storeDtFrom, $value)" owd-validate-watch="'headB.storeDtFrom'" owd-validate-message="fromToMessage"></owd-date>
						<owd-text id="productCd" ng-model="headB.hstock.productCd" label-text="商品CD" owd-add-button="showProduct()" ng-blur="productCdBlur()">
							<owd-info ng-model="headB.hstock.productNm"></owd-info>
						</owd-text>
						<owd-text id="lot" ng-model="headB.hstock.lot" label-text="ロット"></owd-text>
						<owd-date id="limitDtFrom" ng-model="headB.hstock.limitDtFrom" label-text="期限日(From)"></owd-date>
						<owd-date id="limitDtTo" ng-model="headB.hstock.limitDtTo" label-text="期限日(To)" owd-validate="fromToDtCheck(headB.hstock.limitDtFrom, $value)" owd-validate-watch="'headB.hstock.limitDtFrom'" owd-validate-message="fromToMessage"></owd-date>
						<owd-select id="stockTypeCd" ng-model="headB.hstock.mstockType.stockTypeCd" owd-models="stockTypeList" owd-repeat-key="stockTypeCd" owd-repeat-value="stockTypeNm" label-text="在庫区分"></owd-select>
						<owd-select id="warehouseCd" ng-model="headB.hstock.warehouseCd" owd-models="warehouseList" owd-repeat-key="warehouseCd" owd-repeat-value="warehouseNm" label-text="倉庫" ng-focus="warehouseFocus()" ng-change="warehouseChange()" ng-blur="warehouseBlur()"></owd-select>
						<!-- [#250][ONEsLOGI Cloud/WMS バグ・品質向上対策] アシスト機能不具合修正 2016.11.16 shimizu Start -->
						<owd-text id="storeLocationCdFrom" ng-model="headB.storeLocationCdFrom" label-text="入庫格納ロケーション(From)" owd-add-button="showLocation(1)" ng-blur="locationCdBlur(1)">
							<owd-info ng-model="headB.storeLocationNmFrom"></owd-info>
						</owd-text>
						<owd-text id="storeLocationCdTo" ng-model="headB.storeLocationCdTo" label-text="入庫格納ロケーション(To)" owd-add-button="showLocation(2)" ng-blur="locationCdBlur(2)" owd-validate="fromToLocationCheck(headB.storeLocationCdFrom, $value)" owd-validate-watch="'headB.storeLocationCdFrom'" owd-validate-message="fromToLocationMessage" >
							<owd-info ng-model="headB.storeLocationNmTo"></owd-info>
						</owd-text>
						<!-- [#250][ONEsLOGI Cloud/WMS バグ・品質向上対策] アシスト機能不具合修正 2016.11.16 shimizu Start -->
					</div>
				</fieldset>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara Start  -->
			</owd-accordion-group>
		</owd-accordion>
	<!-- [#2719] アコーディオン拡張版の適用 2017.09.26 fujiwara End  -->
		<div class="row">
			<div class="col-xs-12">
				<owd-button id="search" class="btn-info" ng-disabled="searchform.$invalid" ng-click="search()">検索</owd-button>
				<owd-button id="excelOutput" class="btn-info" ng-disabled="searchform.$invalid" ng-click="excelOutput()">Excel出力</owd-button>
			</div>
		</div>
		<br>
		<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="receiveHistoryGrid" owd-select-options="gridSelectOptions"  owd-button-options="gridButtonOptions" owd-event-options="gridEventOptions" owd-form-name="searchform" owd-backcolor-option="getClassForRow(row)"></div>
		<br>
		<div id="content-footer"></div>
	</form>
</div>