<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true"
	version="3.0">

	<display-name>ONEsLOGI Web WMS</display-name>

	<context-param>
		<param-name>resteasy.injector.factory</param-name>
		<param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>
	</context-param>

	<context-param>
		<param-name>logbackDisableServletContainerInitializer</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>com.oneslogi.base.servlet.listener.ClassLoaderLeakPreventorListener</listener-class>
	</listener>

	<listener>
		<listener-class>ch.qos.logback.classic.servlet.LogbackServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<listener>
		<listener-class>com.oneslogi.base.servlet.listener.BaseListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>sd</servlet-name>
		<jsp-file>/indexSD.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>sd</servlet-name>
		<url-pattern>/sd</url-pattern>
	</servlet-mapping>

</web-app>
